<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Change Secretary Password</title>
</head>
<body>

<form action="" th:action="@{/changePassword}" method="post">
    <table>
        <tr>
            <td>Enter the current Password : </td>
            <td><input type="text" name="oldPassword"/></td>
            <td th:if="${zero}" th:text="${zero}"></td>
            <td th:if="${old}" th:text="${old}"></td>

        </tr>

        <tr>
            <td>Enter the new Password : </td>
            <td><input type="text" name="newPassword"/></td>
            <td th:if="${zero}" th:text="${zero}"></td>

        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Change the password"/></td>
        </tr>
    </table>

</form>

</body>
</html>